In [1]:
import pandas as pd

In [2]:
port_without_hmm = pd.read_pickle("port_without.pkl")
port_with_hmm = pd.read_pickle("port_with.pkl")

In [3]:
port_without_hmm

,Invested Amount,Final Amount,Number of Trades,PnL,Sharpe Ratio,Performance
HDFCBANK,10000,10560.77899,12,560.77899,0.612232617292,5.6077899
ICICIBANK,10000,9989.614016,18,-10.385984,0.00532111748876,-0.10385984
KOTAKBANK,10000,10308.6009,20,308.6009,0.291930663207,3.086009
ONGC,10000,9198.240765,20,-801.759235,-0.545169050789,-8.01759235
INFY,10000,9718.72285,16,-281.27715,-0.223085075074,-2.8127715
RELIANCE,10000,11642.677855,12,1642.677855,0.475795629632,16.42677855
HDFC,10000,10256.49715,16,256.49715,0.271698593302,2.5649715
LT,10000,9766.627696,18,-233.372304,-0.13980268666,-2.33372304
IOC,10000,8794.833325,22,-1205.166675,-0.602970840762,-12.05166675
SBIN,10000,10440.14991,18,440.14991,0.196555503072,4.4014991
HINDUNILVR,10000,10645.769665,18,645.769665,0.259279075127,6.45769665
MARUTI,10000,10306.55655,14,306.55655,0.318665447398,3.0655655
ITC,10000,9957.459135,20,-42.540865,-0.0117827870183,-0.42540865
TCS,10000,10168.23993,16,168.23993,0.160543912718,1.6823993

In [4]:
port_with_hmm

,Invested Amount,Final Amount,Number of Trades,PnL,Sharpe Ratio,Performance
HDFCBANK,10000,10539.82183,40,539.82183,0.433746837408,5.3982183
ICICIBANK,10000,9987.842031,28,-12.157969,0.0104600380918,-0.12157969
KOTAKBANK,10000,10153.75595,54,153.75595,0.137388576591,1.5375595
ONGC,10000,9226.209245,94,-773.790755,-0.326931551136,-7.73790755
INFY,10000,9814.2199,70,-185.7801,-0.0600898110903,-1.857801
RELIANCE,10000,11523.737215,24,1523.737215,0.474966781913,15.23737215
HDFC,10000,10058.3863,28,58.3863,0.156290783519,0.583863
LT,10000,9990.057544,24,-9.942456,0.0204548447429,-0.09942456
IOC,10000,8779.5593,30,-1220.4407,-0.55453045179,-12.204407
SBIN,10000,9939.5073,26,-60.4927,-0.179452317552,-0.604927
HINDUNILVR,10000,10457.693785,78,457.693785,0.271372324115,4.57693785
MARUTI,10000,10307.042875,36,307.042875,0.308808102866,3.07042875
ITC,10000,9829.2418,36,-170.7582,-0.0365560054164,-1.707582
TCS,10000,10202.795155,58,202.795155,0.13035605233,2.02795155